@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }

  .print-area, .print-area * {
    visibility: visible;
  }

  .print-area {
    position: absolute;
    left: 0;
    width: 58mm;
  }

}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* ===== SIDEBAR ===== */
.sidebar {
  width: 250px;
  background: #111827;
  color: white;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s ease;
}

/* ===== MENU ===== */
.menuItem {
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #1f2937;
  color: white;
  cursor: pointer;
}

.menuItem:hover {
  background: #374151;
}

/* ===== CONTENT ===== */
.content {
  flex: 1;
  padding: 20px;
  background: #f3f4f6;
  min-height: 100vh;
}

/* ===== MOBILE TOPBAR ===== */
.mobileTopbar {
  display: none;
}

/* ===== BUTTON ===== */
.menuButton {
  background: transparent;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

/* ================================= */
/* ============ MOBILE ============= */
/* ================================= */

@media (max-width: 768px) {

  .mobileTopbar {
    display: flex;
    align-items: center;
    gap: 15px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 60px;
    padding: 0 16px;

    background: #111827;
    color: white;

    z-index: 9999;
  }

  .sidebar {
    position: fixed;

    top: 60px;
    left: -260px;

    width: 250px;
    height: calc(100vh - 60px);

    overflow-y: auto;

    z-index: 9998;
  }

  .sidebar.showSidebar {
    left: 0;
  }

  .content {
    width: 100%;
    padding-top: 80px;
  }
}